th {background-color: black; color: yellow;}
    table {margin: auto; top: 500px;} 
    .warna1 {background:green; color:honeydew; padding: 5px ;}
    .warna2 {background:white; color:black; padding: 5px ;}